#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@ --with dkms

override_dh_install:
	dh_install -p dpdk-rte-kni-dkms kernel/linux/kni/* \
		usr/src/dpdk-rte-kni-$(DEB_VERSION_UPSTREAM)
	dh_install -p dpdk-rte-kni-dkms config/*.h \
		usr/src/dpdk-rte-kni-$(DEB_VERSION_UPSTREAM)/include/config
	dh_install -p dpdk-rte-kni-dkms lib/librte_kni/*.h \
		usr/src/dpdk-rte-kni-$(DEB_VERSION_UPSTREAM)/include/librte_kni

override_dh_dkms:
	dh_dkms -V $(DEB_VERSION_UPSTREAM)
